
body{
    background-color: rgb(116, 145, 145);
}
#title{
   text-align: center;
   color: rgb(68, 68, 136);
}
#name{
    display: flex;
    gap: 30%;
}
#lnl{
   
    padding-left: 38%;
}
#date{
   width: 15%;
   height: 20%;
}
#radio{
    padding-top: 1%;
}
#gender
{
    padding-top: -50%;
    margin-top: 20px;
}
#dob{
    
    display: flex;
    gap: 28%;
}
/* .email{
    padding-top: 0.5%;
} */
.phone{
    padding-top: 1%;
}
#emaildob{
    display: flex;
    gap: 34.5%;
    padding-top: 0.5%;
}
.address{
    display: flex;
    gap: 30%;
    padding-top: 0.5%;
}
.addrph{
    display: flex;
    gap: 37%;
    padding-top: 1%;
}
#submit{
    display: flex;
    font-size: 30px;
    background-color: lightblue;
    
}
.center{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#img{
    margin-left: 80%;
    margin-top: -8%;
}
#video{
    margin-left: 70%;
    margin-top: -25%;
    
}
#audio{
    margin-left: 70%;
    margin-top: 2%;
}
#table {
    border: 5px solid black;
    margin-top: 20px;
    width:100%;
}
th{
    border: 1px solid green;
}
td
{
    border: 1px solid green;
  height: 20px;
  width: 30px;
}

